{% extends "home/base.html" %}
{% load static %}

{% block title %}{{restaurant.name}}{% endblock %}

{% block dashboard_content %}
<div class="container-fluid" dir="rtl">

  <!-- العنوان + زر الإضافة -->
  <!-- <div class="row p-4 d-flex flex-wrap justify-content-between align-items-start">
    <div>
      <h3 class="fw-bold mb-1">معلومات المطعم</h3>
      <div class="text-muted">إدارة المطعم والاشتراكات</div>
    </div>
  </div> -->

  <div class="row p-4 g-4">
    <div class="col-md-6">
      <div class="card h-100">
        <div class="row">
          <div class="col-8">
            <h3>معلومات المطعم</h3>
          </div>
          <div class="col-4 text-start">
            <a href="{% url 'restaurants_edit' restaurant.pk %}" class="btn btn-orange" title="تعديل">
              <i class="bi bi-pencil-square"></i>
            </a>
          </div>
        </div>
        <hr>
        <p><span>اسم المطعم: </span><strong>{{restaurant.name}}</strong></p>
        <p><span>وصف المطعم: </span><strong>{{restaurant.description}}</strong></p>
        <p><span>مالك المطعم: </span><strong>{{ restaurant.owner.username }}</strong></p>
        <p><span>تاريخ البدء مع هلا اوردر: </span><strong>{{ restaurant.created_at|date:"Y-m-d" }}</strong></p>
        <p><span>تاريخ أخر تحديث للمعلومات المطعم: </span><strong>{{ restaurant.updated_at|date:"Y-m-d" }}</strong></p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card h-100">
        <h3>باقة الاشتراك</h3>
        <hr>
        {% if restaurant.subscription_plan %}
        <p>
          <strong style="padding: 5px 15px; border: 1px solid green; border-radius: 10px;">
            {{ restaurant.subscription_plan.name }}
          </strong>
        </p>
        <p>
          <strong>لمميزات</strong>
          <br>
          <span>
            {{ restaurant.subscription_plan.features }}
          </span>
        </p>
        <p>
          <strong>السعر</strong>
          <br>
          <span>
            {{ restaurant.subscription_plan.price }}
          </span>
        </p>
        {% else %}
        <span class="badge bg-secondary-subtle text-secondary border border-secondary-subtle"
          style="border-radius:.6rem;">
          بدون
        </span>
        {% endif %}
      </div>
    </div>

    <div class="col-md-6">
  <div class="card h-100">
    <div class="w-100 d-flex" style="justify-content: space-between; align-items: center;">
      <h3>ثيم الموقع الالكتروني</h3>
      <button class="btn btn-orange" onclick="toggleEdit()">
        <i class="bi bi-pencil-square"></i>
      </button>
    </div>
    <hr>

    {% if website %}
    <!-- عرض البيانات -->
    <div id="themeDisplay">
      <div class="mb-3">
        <strong>الشعار</strong><br>
        <img src="{{ website.logo.url }}" alt="logo" class="w-50">
      </div>

      <p><strong style="padding: 5px 15px; border: 1px solid green; border-radius: 10px;">{{ website.theme }}</strong></p>

      <p><strong>الألوان:</strong></p>
      <input type="color" value="{{ website.custom_colors }}" disabled>
      <input type="color" value="{{ website.secondary_color }}" disabled>

    </div>

    <!-- نموذج التعديل -->
    <div id="themeForm" style="display: none;">
      <form method="POST" enctype="multipart/form-data" class="p-3">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="mb-3">
          <label for="id_logo" class="form-label fw-bold">الشعار:</label>
          <input type="file" name="logo" id="id_logo" class="form-control">
        </div>

        <div class="mb-3">
          <label for="id_theme" class="form-label fw-bold">اسم الثيم:</label>
          <input type="text" name="theme" id="id_theme" class="form-control" value="{{ form.theme.value|default:'' }}">
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="id_custom_colors" class="form-label fw-bold">اللون الأساسي:</label>
            <input type="color" name="custom_colors" id="id_custom_colors"
                  class="form-control form-control-color w-100"
                  value="{{ form.custom_colors.value|default:'#000000' }}">
          </div>

          <div class="col-md-6 mb-3">
            <label for="id_secondary_color" class="form-label fw-bold">اللون الثانوي:</label>
            <input type="color" name="secondary_color" id="id_secondary_color"
                  class="form-control form-control-color w-100"
                  value="{{ form.secondary_color.value|default:'#000000' }}">
          </div>
        </div>

        <div class="d-flex justify-content-between mt-4">
          <button type="submit" class="btn btn-blue ">حفظ</button>
          <button type="button" class="btn btn-dark " onclick="cancelEdit()">إلغاء</button>
        </div>
      </form>
    </div>

    {% else %}
    <span class="badge bg-secondary-subtle text-secondary border border-secondary-subtle" style="border-radius:.6rem;">
      بدون
    </span>
    {% endif %}
  </div>
</div>


    <div class="col-md 6">
      <div class="card svg_custom_style">
        <div class="svg_header">
          <div class="svg_logo">
          </div>
          <div class="svg_button">
          </div>
        </div>

        <div class="svg_content">
          <div class="svg_h1">
          </div>
          <div class="svg_flex">
            <div class="svg_card">
              <div class="svg_button">
              </div>
            </div>
            <div class="svg_card">
              <div class="svg_button">
              </div>
            </div>
            <div class="svg_card">
              <div class="svg_button">
              </div>
            </div>
          </div>
        </div>

        <div class="svg_content">
          <div class="svg_h1">
          </div>
          <div class="svg_flex">
            <div class="svg_card">
              <div class="svg_button">
              </div>
            </div>
            <div class="svg_card">
              <div class="svg_button">
              </div>
            </div>
            <div class="svg_card">
              <div class="svg_button">
              </div>
            </div>
          </div>
        </div>

        <div class="svg_footer">

        </div>
      </div>
    </div>
  </div>

  

</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">

<style>
  .table> :not(caption)>*>* {
    padding: .9rem .85rem;
  }

  .icon-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: .6rem;
    background: #fff;
    border: 1px solid #e9ecef;
    color: #6b7280;
    text-decoration: none;
  }

  .icon-btn:hover {
    background: #f8fafc;
    color: #111827;
    border-color: #dfe3e6;
  }

  .card {
    border-radius: 1rem;
  }

  .btn,
  .form-control {
    border-radius: .75rem;
  }


  .svg_custom_style {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: whitesmoke;
    border-radius: 15px !important;
    overflow: hidden;
    border: 10px solid black;
    box-shadow: 0 8px 30px rgba(0, 75, 89, 0.08);
  }

  .svg_header {
    width: 100%;
    height: 30px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  .svg_header .svg_logo {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
  }

  .svg_button {
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 5px;
  }

  .svg_content {
    width: 100%;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
  }

  .svg_content .svg_h1 {
    width: 30%;
    height: 20px;
    background-color: gray;
  }

  .svg_content .svg_flex {
    display: flex;
    width: 100%;
    padding: 30px;
    gap: 20px;
  }

  .svg_flex .svg_card {
    width: 100%;
    height: 100px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 5px;
    box-shadow: 1px 1px 5px lightgray;
  }


  .svg_footer {
    width: 100%;
    height: 50px;
    background-color: red;
  }
</style>

<script>

  document.querySelector('.svg_header').style.backgroundColor = '{{website.custom_colors}}';
  document.querySelector('.svg_footer').style.backgroundColor = '{{website.custom_colors}}';
  document.querySelectorAll('.svg_button').forEach(el => {
    el.style.backgroundColor = '{{website.secondary_color}}'
  })

  function toggleEdit() {
    document.getElementById("themeDisplay").style.display = "none";
    document.getElementById("themeForm").style.display = "block";
  }

  function cancelEdit() {
    document.getElementById("themeDisplay").style.display = "block";
    document.getElementById("themeForm").style.display = "none";
  }

  // تحديث ألوان المعاينة
  document.addEventListener('DOMContentLoaded', function () {
    const primaryColorInput = document.querySelector('input[name="custom_colors"]');
    const secondaryColorInput = document.querySelector('input[name="secondary_color"]');

    function updateThemeColors() {
      const primary = primaryColorInput.value;
      const secondary = secondaryColorInput.value;

      document.querySelector('.svg_header').style.backgroundColor = primary;
      document.querySelector('.svg_footer').style.backgroundColor = primary;

      document.querySelectorAll('.svg_button').forEach(btn => {
        btn.style.backgroundColor = secondary;
      });
    }

    if (primaryColorInput && secondaryColorInput) {
      primaryColorInput.addEventListener('input', updateThemeColors);
      secondaryColorInput.addEventListener('input', updateThemeColors);
    }
  });
</script>

{% endblock %}