{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %}{% endblock style %}
    <script src="https://kit.fontawesome.com/aa8d28d2d0.js" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock title %}</title>
</head>

<body dir="rtl">
    <!-- {% include "home/header_platform.html" %}

    <button class="btn btn-orange">Button</button>
    <button class="btn btn-blue">Button</button>
    <button class="btn btn-dark"><i class="fa-brands fa-python"></i></button>
    <div class="card">
        <h3>Card</h3>
    </div> -->


    <main id="dashbaord">
        <div class="sidebar" id="sidebar">
            <button id="close_menu" class="toggle-btn" onclick="toggleSidebar()"><i class="fa-solid fa-xmark"></i></button>
            <h3>HellaOrder</h3>
            {% if request.user.is_authenticated %}
            {% if request.user.restaurants %}
            <p class="w-100 text-center"><a href="{% url 'websites:site_home' request.user.restaurants.id %}" class="btn btn-orange"><i class="fa-solid fa-eye"></i><span>معاينة الموقع</span></a></p>
            {% endif %}
            {% endif %}
            <ul>
                
                <li class="{% if current_page == 'home' %}active{% endif %}">
                    <a href="#"><i class="fa-solid fa-house"></i>الصفحة الرئيسية</a>
                </li>
                <li class="{% if current_page == 'orders:order_board' %}active{% endif %}">
                  <a href="{% url 'orders:order_board' %}"><i class="fa-solid fa-file"></i>حالة الطلبات</a>
                </li>                
                <li class="{% if request.path == '/menu/' %}active{% endif %}">
                  <a href="{% url 'menu:menu_view' %}"><i class="fa-solid fa-file"></i>المنتجات</a>
                </li>
                <li class="{% if current_page == 'restaurants' %}active{% endif %}">
                    <a href="{% url 'restaurants' %}"><i class="fa-solid fa-file"></i>المطاعم</a>
                </li>
                <li class="{% if current_page == 'branches' %}active{% endif %}">
                    <a href="{% url 'branches' %}"><i class="fa-solid fa-file"></i>الفروع</a>
                </li>
                <li class="{% if current_page == 'subscription_plans' %}active{% endif %}">
                    <a href="{% url 'subscription_plans' %}"><i class="fa-solid fa-file"></i>الباقات</a>
                </li>
                <li data-page="products"><a href=""><i class="fa-solid fa-file"></i>التقارير</a></li>
            </ul>
        </div>
        <div class="content">
            <header> 
                <button onclick="toggleSidebar()"><i class="fa-solid fa-bars"></i></button> 
                <span>Dashboard</span> 
            </header>
            <div id="mainContent">
                {% block dashboard_content %}
                  <!-- <div class="row p-4 g-4">
                    <div class="col-12 col-md-6">
                        <div class="card">
                            <h1>card</h1>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card">
                            <h1>card</h1>
                        </div>
                    </div>
                  </div>
                   <button class="btn btn-orange">Button</button>
                    <button class="btn btn-blue">Button</button>
                    <button class="btn btn-dark"><i class="fa-brands fa-python"></i></button> -->
                {% endblock dashboard_content %}
            </div>
        </div>
    </main>


    {% block content %}

    {% endblock content %}
   
    <script src="{% static 'js/slidebar.js' %}"></script>
</body>

</html>