{% extends "websites/base.html" %}  
{% load static %}

{% block title %}تسجيل الدخول{% endblock %}

{% block content %}


<div class="row w-100">
    <div class="col"></div>
    <div class="col-10">
        <div class="card w-100 p-4">
            <h1 class="w-100 text-center">تسجيل الدخول</h1>
        </div>
    </div>
    <div class="col"></div>
</div>

<div class="row mt-3 w-100">
    <div class="col"></div>
    <div class="col-10">

        <div class="card w-100 p-4">
            {% if messages %}
            <ul>
                {% for message in messages %}
                <div class="alert {{message.tags}}">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span>{{message}}</span>
                </div>
                {% endfor %}
            </ul>
            {% endif %}

            <form action="{% url 'users:customer_login' website.slug %}" method="post" class="row g-3">
                {% csrf_token %}

                <div class="col-md-6">
                    <label for="username" class="form-label">اسم المستخدم</label>
                    <input type="text" class="form-control" id="username" name="username" required />
                </div>

                <div class="col-md-6">
                    <label for="password" class="form-label">كلمة المرور</label>
                    <input type="password" class="form-control" id="password" name="password" required
                        minlength="8" />
                </div>

                <div class="col-12">
                    <p>ليس لديك حساب <a class="text-blue" href="{% url 'users:customer_sign_up' website.slug %}">اضافة حساب جديد</a></p>
                </div>
                <div class="col-12 d-flex gap-2">
                    <button type="submit" class="btn add-btn">تسجيل الدخول</button>
                </div>
            </form>

        </div>
    </div>
    <div class="col"></div>
</div>



{% endblock %}