{% extends "home/base.html" %}

{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock style %}

{% block content %}
<style>
    #dashbaord {
        display: none;
    }
</style>

<div class="row p-4 w-100">
    <div class="col"></div>
    <div class="col-10">
        <div class="card w-100 element-bg">
            <h1 class="w-100 text-center">تسجيل الدخول</h1>
        </div>
    </div>
    <div class="col"></div>
</div>

<div class="row p-4 w-100">
    <div class="col"></div>
    <div class="col-10">

        <div class="card w-100">
            {% if messages %}
            <ul>
                {% for message in messages %}
                <div class="alert {{message.tags}}">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <span>{{message}}</span>
                </div>
                {% endfor %}
            </ul>
            {% endif %}

            <form action="{% url 'users:log_in_view' %}" method="post" class="row g-3">
                {% csrf_token %}

                <div class="col-md-6">
                    <label for="username" class="form-label">اسم المستخدم</label>
                    <input type="text" class="form-control" id="username" name="username" required />
                </div>

                <div class="col-md-6">
                    <label for="password" class="form-label">كلمة المرور</label>
                    <input type="password" class="form-control" id="password" name="password" required
                        minlength="8" />
                </div>

                <div class="col-12">
                    <p>ليس لديك حساب <a class="text-blue" href="{% url 'users:sign_up_view' %}">اضافة حساب جديد</a></p>
                </div>
                <div class="col-12 d-flex gap-2">
                    <button type="submit" class="btn btn-blue">تسجيل الدخول</button>
                </div>
            </form>

        </div>
    </div>
    <div class="col"></div>
</div>


{% endblock content %}